@media (min-width: 320px) {

    section {
        max-width: 75%;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }

    p {
        font-size: 0.70em;
    }
    
    nav a {
        padding: 5px;
        margin: 0 5px;
        font-size: 0.83em;
    }

    #tech-stack {
        margin-top: 20px;
    }
   
    #tech-stack h3{
       font-size: 1.1em;
    }

    #project-duration {
        margin-top: 20px;
    }
    
    #project-duration h3 {
        font-size: 1.1em;
    }
    
    #project-duration p {
        margin: 8px 0;
    }

    #project-members {
        margin-top: 20px; /* Add some space above the members list */
    }

    #project-members h3 {
        font-size: 1.1em;
    }

    #project-members li {
        margin-bottom: 10px; /* Add space between each member entry */
        font-size: 0.80em;
    }

    .additional-text {
        font-size: 0.9em; 
        margin-top: 20px; 
        margin-bottom: 20px;
    }

    .document-button {
        padding: 9px 15px;
        font-size: 12px;
        margin-top: 10x;
        margin-bottom: 10px;
    }

    .github-button {
        padding: 9px 15px;
        font-size: 12px;
        margin-top: 0px; 
        margin-bottom: 40px; 
    }
 
    .embedded-container {
        max-width: 100%;
        margin: 0 auto; 
    }

    .embedded-container iframe {
        width: 100%;
        height: auto;
    }

}

@media (min-width: 475px) {

    section {
        max-width: 80%;
    }

    h1 {
        font-size: 1.9em;
    }

    h2 {
        font-size: 1.3em;
    }

    p {
        font-size: 0.85em;
    }
    
    nav a {
        padding: 5px;
        margin: 0 5px;
        font-size: 0.9em;
    }

    #tech-stack {
        margin-top: 20px;
    }
   
    #tech-stack h3{
       font-size: 1.2em;
    }

    #project-duration {
        margin-top: 20px;
    }
    
    #project-duration h3 {
        font-size: 1.2em;
    }
    
    #project-duration p {
        margin: 8px 0;
    }

    #project-members {
        margin-top: 20px; /* Add some space above the members list */
    }

    #project-members h3 {
        font-size: 1.2em;
    }

    #project-members li {
        margin-bottom: 10px; /* Add space between each member entry */
        font-size: 0.9em;
    }

    .additional-text {
        font-size: 0.95em; 
        margin-top: 20px; 
        margin-bottom: 20px;
    }

    .document-button {
        padding: 9px 15px;
        font-size: 15px;
        margin-top: 10x;
        margin-bottom: 10px;
    }

    .github-button {
        padding: 9px 15px;
        font-size: 15px;
        margin-top: 0px; 
        margin-bottom: 40px; 
    }
 
    .embedded-container {
        max-width: 375px;
        max-height: 211px;
        margin: 0 auto; 
    }

    .embedded-container iframe {
        width: 100%;
        height: 211px;
    }
}

@media (min-width: 640px) {

    section {
        max-width: 85%;
    }

    h1 {
        font-size: 1.9em;
    }

    h2 {
        font-size: 1.3em;
    }

    p {
        font-size: 0.85em;
    }
    
    nav a {
        padding: 5px;
        margin: 0 5px;
        font-size: 0.9em;
    }

    #tech-stack {
        margin-top: 20px;
    }
   
    #tech-stack h3{
       font-size: 1.2em;
    }

    #project-duration {
        margin-top: 20px;
    }
    
    #project-duration h3 {
        font-size: 1.2em;
    }
    
    #project-duration p {
        margin: 8px 0;
    }

    #project-members {
        margin-top: 20px; /* Add some space above the members list */
    }

    #project-members h3 {
        font-size: 1.2em;
    }

    #project-members li {
        margin-bottom: 10px; /* Add space between each member entry */
        font-size: 0.9em;
    }

    .additional-text {
        font-size: 0.95em; 
        margin-top: 20px; 
        margin-bottom: 20px;
    }

    .document-button {
        padding: 9px 15px;
        font-size: 15px;
        margin-top: 10x;
        margin-bottom: 10px;
    }

    .github-button {
        padding: 9px 15px;
        font-size: 15px;
        margin-top: 0px; 
        margin-bottom: 40px; 
    }
 
    .embedded-container {
        max-width: 100%;
        max-height: 239px;
        margin: 0 0 40px auto; 
    }

    .embedded-container iframe {
        width: 100%;
        height: 239px;
    }
}

@media (min-width: 768px) {

    section {
        max-width: 87%;
    }

    h1 {
        font-size: 1.95em;
    }

    h2 {
        font-size: 1.3em;
    }

    p {
        font-size: 0.87em;
    }
    
    nav a {
        padding: 5px;
        margin: 0 5px;
        font-size: 0.9em;
    }

    #tech-stack {
        margin-top: 20px;
    }
   
    #tech-stack h3{
       font-size: 1.2em;
    }

    #project-duration {
        margin-top: 20px;
    }
    
    #project-duration h3 {
        font-size: 1.2em;
    }
    
    #project-duration p {
        margin: 8px 0;
    }

    #project-members {
        margin-top: 20px; /* Add some space above the members list */
    }

    #project-members h3 {
        font-size: 1.2em;
    }

    #project-members li {
        margin-bottom: 10px; /* Add space between each member entry */
        font-size: 0.9em;
    }

    .additional-text {
        font-size: 0.95em; 
        margin-top: 20px; 
        margin-bottom: 20px;
    }

    .document-button {
        padding: 9px 15px;
        font-size: 15px;
        margin-top: 10x;
        margin-bottom: 10px;
    }

    .github-button {
        padding: 9px 15px;
        font-size: 15px;
        margin-top: 0px; 
        margin-bottom: 40px; 
    }
 
    .embedded-container {
        max-width: 100%;
        max-height: 360px;
        margin: 0 0 40px auto; 
    }

    .embedded-container iframe {
        width: 100%;
        max-height: 360px;
    }
}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}

@media (min-width: 1440px) {

}



body {
    font-family: 'Cascadia Code', monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #FFFFFF;
}

h2,
h3 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #666;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    color: #E1C16E; /* Change link color on hover */
    font-weight: bold;
}

#tech-stack p{
    font-weight: bold;
}

#tech-stack h3{
    color: #333;
}

/* CSS for Project Duration section */
#project-duration h3 {
    color: #333;
}

#project-duration p {
    color: #666;
}

/* CSS for Project Members section */
#project-members h3 {
    color: #333; /* Heading color */
}

#project-members ul {
    list-style: none; /* Remove default list styles */
    padding: 0;
}

#project-members li {
    margin-bottom: 10px; /* Add space between each member entry */
}

#project-members li a {
    color: #007BFF; /* Link color */
    text-decoration: none;
}

#project-members li a:hover {
    color: #0056b3; /* Change link color on hover */
    font-weight: bold; /* Increase font weight on hover */
    background-color: #f4f4f4; /* Add a background color on hover */
    border-radius: 3px; /* Add a subtle border-radius for a button-like feel */
    padding: 3px 8px; /* Add padding for a more clickable area */
    transition: all 0.3s ease; /* Apply a smooth transition for a polished effect */
}

.additional-text {
    font-weight: bold;
    color: #25D366; 
}

.document-button {
    display: inline-block;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border: 2px solid #218838;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.document-button:hover {
    background-color: #218838;
}

.github-button {
    display: inline-block;
    background-color: #6f42c1;
    color: #fff;
    text-decoration: none;
    border: 2px solid #5a3e98;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.github-button:hover {
    background-color: #5a3e98;
}

.link a{
    text-decoration: none;
    color: #007BFF;
}

.link a:hover{
    text-decoration: underline;
    color: #0056b3;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}
