@media (min-width: 320px) {
   
    section {
        max-width: 75%;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.12em;
    }

    p {
        font-size: 0.75em;
    }
    
    nav a {
        padding: 5px;
        margin: 0 5px;
        font-size: 0.75em;
    }

    .emoji {
        font-size: 1em;
        margin-right: 0.2em;
    }

    .ett {
        font-size: 12px;
    }

    .social-icons a {
        font-size: 1.2em;
    }

    .download-btn {
        padding: 9px 10px;
        font-size: 12px;
    }

    .project-caption {
        font-size: 0.8em;
    }

    .project-title {
        font-size: 1.2em;
    }

    .certificates-section li {
        line-height: 1.5;
    }

    .certificates-section a {
        font-size: 0.8em;
    }
    
    .certi-emoji {
        font-size: 0.75em;
    }
    
}

@media (min-width: 475px) {
    section {
        max-width: 80%;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.12em;
    }

    p {
        font-size: 0.75em;
    }
    
    nav a {
        padding: 5px;
        margin: 0 8px;
        font-size: 0.81;
    }

    .emoji {
        font-size: 1.2em;
        margin-right: 0.4em;
    }

    .ett {
        font-size: 0.75em;
    }

    .social-icons a {
        font-size: 1.2em;
    }

    .download-btn {
        padding: 10px 12px;
        font-size: 12px;
    }

    .project-caption {
        font-size: 0.9em;
    }

    .project-title {
        font-size: 1.3em;
    }

    .certificates-section li {
        line-height: 1.6;
    }

    .certificates-section a {
        font-size: 0.85em;
    }
    
    .certi-emoji {
        font-size: 0.77em;
    }
}

@media (min-width: 640px) {
    section {
        max-width: 85%;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.3em;
    }

    p {
        font-size: 0.84em;
    }
    
    nav a {
        padding: 5px;
        margin: 0 8px;
        font-size: 0.92em;
    }

    .emoji {
        font-size: 1.4em;
        margin-right: 0.5em;
    }

    .ett {
        font-size: 0.84em;
    }

    .social-icons a {
        font-size: 1.2em;
    }

    .download-btn {
        padding: 10px 12px;
        font-size: 14px;
    }

    .project-caption {
        font-size: 1em;
    }

    .project-title {
        font-size: 1.5em;
    }

    .certificates-section li {
        line-height: 1.6;
    }

    .certificates-section a {
        font-size: 0.9em;
    }
    
    .certi-emoji {
        font-size: 1em;
    }

}

@media (min-width: 768px) {
    section {
        max-width: 87%;
    }

    h1 {
        font-size: 2.2em;
    }

    h2 {
        font-size: 1.32em;
    }

    p {
        font-size: 0.9em;
    }
    
    nav a {
        padding: 5px;
        margin: 0 8px;
        font-size: 0.94em;
    }

    .emoji {
        font-size: 1.4em;
        margin-right: 0.5em;
    }

    .ett {
        font-size: 0.84em;
    }

    .social-icons a {
        font-size: 1.2em;
    }

    .download-btn {
        padding: 10px 12px;
        font-size: 14px;
    }

    .project-caption {
        font-size: 1em;
    }

    .project-title {
        font-size: 1.5em;
    }

    .certificates-section li {
        line-height: 1.75;
    }

    .certificates-section a {
        font-size: 0.9em;
    }
    
    .certi-emoji {
        font-size: 1em;
    }
}

@media (min-width: 1024px) {
    
}

@media (min-width: 1280px) {

}

@media (min-width: 1536px) {

}


body {
    font-family: 'Cascadia Code', monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #FFFFFF;
}

h2 {
    color: #333;
}

h3 {
    color: #333;
}

h2 a {
    color: #333;
    text-decoration: none;
}

h2 a:hover {
    color: #0056b3; /* Change the color to your desired hover color */
}

p {
    line-height: 1.6;
    color: #666;
}
    
nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    color: #E1C16E; /* Change link color on hover */
    font-weight: bold;
}

/* Add this CSS to remove the bullet points */
ul {
    list-style-type: none; /* Remove the bullet points */
    padding-left: 0;
}

/* Add this CSS to style the list items */
ul li {
    margin-bottom: 10px; /* Optional: Add some spacing between list items */
}

.emoji {
    margin-right: 0.2em;
}

/* Styling for Education section */
.education h2 {
    color: #333;
}

.education p {
    line-height: 1.6;
    color: #666;
}

.education a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.education a:hover {
    text-decoration: underline;
    color: #0056b3;
}
    
#contact a {
    color: #007BFF;
    text-decoration: none;
}

#contact a:hover {
    color: #0056b3; /* Change the color to your desired hover color */
}
    
.social-icons {
    display: flex;
    flex-direction: column; /* Align items in a column */
    align-items: flex-start; /* Align items to the left */
    margin-top: 10px;
}

.social-icons a {
    display: flex; /* Make it a flex container */
    align-items: center; /* Align items vertically */
    margin-bottom: 10px; /* Add space between LinkedIn and GitHub */
    color: #007BFF;
    font-weight: bold;
    text-decoration: none;
}

.social-icons a:hover {
    color: #0056b3; /* Change the color to your desired hover color */
}

.social-icons img {
    width: 40px; /* Set the desired size for the logo images */
    height: auto;
    margin-right: 20px;
}

.social-icons a:nth-child(2) {
    margin-top: 10px; /* Add space between LinkedIn and GitHub */
}
    
/* Styling for Resume/CV section */

.resume-section h2 {
    color: #333;
}

.resume-section p {
    line-height: 1.6;
    color: #666;
}

.download-btn {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-btn:hover {
    background-color: #0056b3;
}

.project-slider {
    width: 100%;
    margin-top: 20px;
}

.project {
    text-align: center;
    margin-right: 10px; /* Add right margin */
    margin-left: 10px; /* Add right margin */
    margin-bottom: 20px; /* Add bottom margin */
}

.project img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    display: block; /* Make the image a block element */
    margin: 0 auto; /* Center horizontally */
}

.project-caption {
    color: #666;
}

.project-title {
    margin-bottom: 5px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease; /* Adding a smooth transition effect */
}

.project-title:hover {
    color: #007BFF; /* Change the color to your desired hover color */
}

/* Styling for Certificates and Achievements section */
.certificates-section h2 {
    color: #333;
}

.certificates-section ul {
    list-style-type: none;
    padding: 0;
}

.certificates-section li {
    color: #666;
    margin-bottom: 5px;
}

.certificates-section a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.certificates-section a:hover{
    color: #0056b3; /* Change link color on hover */
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
    bottom: 0;
}